body .world_wrap {
    background: #222;
    width: 100vw;
    margin: 0 auto;
    padding: 35px;
}

body .world_wrap .world_1 {
    width: 600px;
    height: 585px;
    margin: 0 auto;
    background-image: url(./img/worldview1.png);
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    /* box-shadow: 0px 0px 30px rgb(236, 29, 36); */
}

body .world_wrap .world_2 {
    width: 600px;
    height: 585px;
    margin: 0 auto;
    background-image: url(./img/worldview2.png);
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    /* box-shadow: 0px 0px 30px rgb(236, 29, 36); */
}

body .world_wrap .world_3 {
    width: 600px;
    height: 585px;
    margin: 0 auto;
    background-image: url(./img/worldview3.png);
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    /* box-shadow: 0px 0px 30px rgb(236, 29, 36); */
}

body .world_wrap .world_4 {
    width: 600px;
    height: 585px;
    margin: 0 auto;
    background-image: url(./img/worldview4.png);
    display: flex;
    align-items: center;
    /* margin-bottom: 30px; */
    /* box-shadow: 0px 0px 30px rgb(236, 29, 36); */
}

body .world_wrap .text_a {
    width: 200px;
    height: 50px;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    position: relative;
    margin: 0 auto;
    vertical-align: middle;
    background-color: rgba(71, 19, 19, 0.548);
}

body .world_wrap .text_a h1 a {
    color: #fff;
}

.text_a h1:before, .text_a h1:after {
    -moz-transition: width 0.85s ease;
    -webkit-transition: width 0.85s ease;
    -ms-transition: width 0.85s ease;
    transition: width 0.85s ease;
    -moz-transition-delay: 0.25s;
    -webkit-transition-delay: 0.25s;
    -ms-transition-delay: 0.25s;
    transition-delay: 0.25s;
    background: #fff;
    content: '';
    display: block;
    height: 3px;
    position: absolute;
    width: 100%;
}

.text_a h1:before {
    top: 0;
    left: 0;
}
.text_a h1:after {
    bottom: 0;
    right: 0;
}