.world_view_wrap {
    background: #222;
    width: 100vw;
    margin: 0 auto;
}

.world_view_1 {
    width: 700px;
    height: 100%;
    margin: 0 auto;
    background-image: url(./img/aven\ -wrd2.png);
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}


.world_view_1 h1 {
    color: #fff;
    font-weight: bold;
    font-size: 1.75rem;
    padding: 10px;
    margin-top: 1040px;
}

p {
    color: rgb(255, 255, 255);
    /* background-color: rgba(23, 6, 6, 0.475); */
    font-size: 1.2rem;
    line-height: 40px;
    text-align: center;
    text-shadow: 1px 0 10px #fff;
    margin-top: 50px;
    

}